 <footer class="footerdown">
        <div>
            <p>ООО"ДолгоПродСервис"</p>
            <a href="#up">Вернуться в шапку</a>
            <a href="contacts">Контакты</a>
            <p>Copyright 2022. Все права защищены</p>
        </div>
        </div>
    </footer>