 <header>
        <div class="LogoAll"><img  src="images/logo.png" alt="логотип" width="225px" height="270px"></div>
        <nav class="maincontactmenu">
            <a id="up" href="index">Главная</a>
            <a href="about_us">О проекте</a>
            <a href="contacts">Поддержка</a>
            <a id="add_new">Добавить продукт</a>
             
            {{#isAuth}}
             <a>вы вошли как <u>{{tempUser}}</u></a>
             <a href="exit">Выход</a>
                {{else}}
                <a href="login">Вход</a>
                <a href="registration">Регистрация</a>
                {{/isAuth}}
        </nav>
        <nav class="contexttopmenu">
            
            <a title="Объявления, которые подали вы" href="lk">Мои объявления</a>
            <a title="Забронированное жилье" >Моё забронированное</a>
                <input class="search" placeholder="поиск">
                <input type="button" class="button" value="Поиск">
                <script src="js/try_new.js"></script>
        </nav>
    </header>