<!DOCTYPE html>
<html>
<head>
    <title>О Кипарисе</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
    <link rel="stylesheet" type="text/css" href="styles/anima.css">
</head>
<body class="main-of-all">
   {{> menu}}
    <main>
		<div class="masterblock">
        <h1>Кипарис</h1>                                  
            <p>Мы, в лице ООО"ДолгоПродСервис", рады представить вам нашу площадку
			с систематической обратной связью с Арендодателями, проект ведёт свою историю с 2022 года.
			По всем вопросам обращайтесь в поддержку</p>
            <div class="animate">
                <div class="cube"></div>
            </div>
	 </div>
	 <div class="btn-up btn-up_hide"></div>
	 </main>
     <script src="js/pgUp.js"></script>
	 {{> footer}}
</body>
</html>