<!DOCTYPE html>
<html>
<head>
    <title>Кипарис-Гонки</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
</head>
<body class="main-of-all">
    {{> menu}}
    <main>
        <nav class="leftmenu-ul">
            <h1>Гонки</h1>
            <div>
            <input type="checkbox"><p>С экономикой</p></div>
            <div><input type="checkbox"><p>Космические</p></div>
            <div><input type="checkbox"><p>Ретро</p></div>
            <div><input type="checkbox"><p>С альтернативными правилами</p></div>
            <div><input type="checkbox"><p>Жестокие</p></div>
            <div><input type="checkbox"><p>С поддержкой руля</p></div>
            <div><input class="button" type="button" value="применить"></div>
            
        </nav>
        <div class="masterblock">
            <h1>Популярные гонки</h1>
            <div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                    </div>
            </div>
            <div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                    </div>
            </div>
            <div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                    </div>
            </div>
            <div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                    </div>
            </div>
            <div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                    </div>
            </div>
            <div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                    </div>
            </div>


        </div>
        <div class="btn-up btn-up_hide"></div>
    </main>
    <script src="js/pgUp.js"></script>
    {{> footer}}
</body>
</html>