<!DOCTYPE html>
<html>
<head>
    <title>Кипарис-Как связаться</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
    <link rel="stylesheet" type="text/css" href="styles/animaCardan.css">
</head>
<body class="main-of-all">
    {{> menu}}
    <main>
		<div class="masterblock">
        <h1>Кипарис</h1>                                  
        <table class="table-contact">    
        <caption>Контактные данные:</caption>
			<tr><td><p>Телефон:</p></td> <td><p>89277473615 {{title}}</p></td></tr>
			<tr><td><p>Почта:</p></td> <td><p>PetrSpirt@yandex.ru</p></td></tr>
			<tr><td><p>Владелец:</p></td> <td><p>Спиркин Петр Евгеньевич</p></td></tr>
        </table>
            
            <div class="marging-loc">
                <a href="secret_animation">
             <div class="cardan"> <a href="secret_animation"><img  src="images/cardan.png" alt="шестеренка" width="250px" height="250px">
             </a></div>
              </div>
                
        
              <div class="btn-up btn-up_hide"></div>
            </main>
            <script src="js/pgUp.js"></script>
	 {{> footer}}
</body>
</html>