<!DOCTYPE html>
<html>
<head>
    <title>Кипарис</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
</head>
<body class="main-of-all">
   {{> menu}}
   
    <main>
        <nav class="leftmenu-ul">
            <h1>Категории жилья</h1>
            <a>Апартаменты/Квартиры</a>
            <a>Номера в отеле</a>
            <a>Гостевые дома</a>
            <a>Хостелы</a>
            <a>Проживание в семье</a>
            <a>Отели типа "постель и завтрак"</a>
            <a>Виллы</a>
        </nav>
        <div class="masterblock" id="great">
            <h1>Популярные предложения</h1>
			
        </div>
        <div class="btn-up btn-up_hide"></div>
    </main>
    <script src="js/pgUp.js"></script>
    <script src="js/catalogih.js"></script>
   {{> footer}}
</body>
</html>