<!DOCTYPE html>
<html>
<head>
    <title>Кипарис</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
</head>
<body class="main-of-all">
   {{> menu}}
   
    <main>
        <nav class="leftmenu-ul">
            <h1>Жанры игр</h1>
            <select class="selk1"  id="nrol">
                <option value="Стратегии" >Выберите жанр</option>
</select>
        </div>
        <div id="nav_bd" class="filt"></div>
        <div class="filt">
            <p>Найти по году выхода начиная с:</p>
            <div>
            <input type="checkbox" id="time_start" ><input type="number" id="tst"></div>
            <p >и доходя до:</p>
            <div>
            <input type="checkbox" id="time_end"><input type="number" id="ted"></div>
        </div>
           <div><input class="button" type="button" value="применить" id="all_filter"></div>
        </nav>
        <div class="masterblock" id="great">
            <h1>Популярные игры</h1>
		
        </div>
        <div class="btn-up btn-up_hide"></div>
    </main>
    <script src="js/pgUp.js"></script>
    <script src="js/catalogih.js"></script>
     <script src="js/sqlAdd1.js"></script>
   {{> footer}}
</body>
</html>