<!DOCTYPE html>
<html>
<head>
    <title>Кипарис</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
</head>
<body class="main-of-all">
   {{> menu}}
   
    <main>
        <nav class="leftmenu-ul">
            <h1>Жанры игр</h1>
            <a>Симуляторы</a>
            <a>Шутеры</a>
            <a href="catalog_strategy">Стратегии</a>
            <a href="catalog_race">Гонки</a>
            <a>Спортивные игры</a>
            <a>Экшены</a>
            <a>Ролевые Игры</a>
        </nav>
        <div class="masterblock" id="great">
            <h1>Популярные игры</h1>
			<div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                   <div class="overflowx"><p >Need for Speed: Hot Pursuit представляет собой аркадную гоночную игру,
                     выполненную в трёхмерной графике. Игра приближена к корням серии Need
                      for Speed, возвращая экзотические автомобили и полицейские погони.
                      </p>
                      <p>В Hot Pursuit можно играть как за полицейского, так и за гонщика и включает
                         в себя полный режим карьеры для обеих сторон примерно одинаковой продолжительности.
                          Отношения между полицейскими и гонщиками описываются как «погоня собаки за кроликом»
                           с более мощными полицейскими по сравнению с гонщиками. Каждая сторона имеет несколько
                            бонусов, включая вызов блокпоста и радиолокационные помехи. Действие 
                            игры разворачивается в вымышленном месте, называемом округ Сикрест
                             (англ. Seacrest County)</p>
                    </div></div>
            </div>
            <div class="one-element">
                <a href="item_game1_Civilization">Civilization 1</a>
                <div class="one-element-context">
                    <img src="images/Civ1.jpg" width="200" height="150" alt="Civilization 1">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 1991</li>
                        <li>Разработчик: MPS Labs</li>
                        <li>Издатель: MicroProse</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 100 руб.</li>
                    </ul>
                   <div class="overflowx"><p >Sid Meier’s Civilization (с англ. — «Цивилизация Сида Мейера», сокр. Civilization) — 
                    первая компьютерная игра из серии Civilization, разработанная Сидом Мейером и Брюсом Шелли в компании
                     MicroProse и выпущенная в сентябре 1991 года. Игра относится к жанру пошаговая стратегия и при этом 
                     сочетает 4X, глобальную стратегию, варгейм и открытый мир. 
                      </p>
                      <p>В Civilization игрок принимает ключевые решения в
                         управлении цивилизацией на протяжении всего
                          исторического времени — от Древнего мира до
                           современности. Игровой процесс включает
                            в себя экономику, политику, военные действия,
                             торговлю, исследование новых территорий и 
                             новых технологий, а конкурентами выступают другие цивилизации. 
                             Игра характеризуется наличием тайловой и генерируемой карты, городов 
                             с постройками, боевыми юнитами, дипломатией, деревом технологий</p>
                    </div></div>
            </div>
            <div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                   <div class="overflowx"><p >Need for Speed: Hot Pursuit представляет собой аркадную гоночную игру,
                     выполненную в трёхмерной графике. Игра приближена к корням серии Need
                      for Speed, возвращая экзотические автомобили и полицейские погони.
                      </p>
                      <p>В Hot Pursuit можно играть как за полицейского, так и за гонщика и включает
                         в себя полный режим карьеры для обеих сторон примерно одинаковой продолжительности.
                          Отношения между полицейскими и гонщиками описываются как «погоня собаки за кроликом»
                           с более мощными полицейскими по сравнению с гонщиками. Каждая сторона имеет несколько
                            бонусов, включая вызов блокпоста и радиолокационные помехи. Действие 
                            игры разворачивается в вымышленном месте, называемом округ Сикрест
                             (англ. Seacrest County)</p>
                    </div></div>
            </div>
            <div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                   <div class="overflowx"><p >Need for Speed: Hot Pursuit представляет собой аркадную гоночную игру,
                     выполненную в трёхмерной графике. Игра приближена к корням серии Need
                      for Speed, возвращая экзотические автомобили и полицейские погони.
                      </p>
                      <p>В Hot Pursuit можно играть как за полицейского, так и за гонщика и включает
                         в себя полный режим карьеры для обеих сторон примерно одинаковой продолжительности.
                          Отношения между полицейскими и гонщиками описываются как «погоня собаки за кроликом»
                           с более мощными полицейскими по сравнению с гонщиками. Каждая сторона имеет несколько
                            бонусов, включая вызов блокпоста и радиолокационные помехи. Действие 
                            игры разворачивается в вымышленном месте, называемом округ Сикрест
                             (англ. Seacrest County)</p>
                    </div></div>
            </div>
            <div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                   <div class="overflowx"><p >Need for Speed: Hot Pursuit представляет собой аркадную гоночную игру,
                     выполненную в трёхмерной графике. Игра приближена к корням серии Need
                      for Speed, возвращая экзотические автомобили и полицейские погони.
                      </p>
                      <p>В Hot Pursuit можно играть как за полицейского, так и за гонщика и включает
                         в себя полный режим карьеры для обеих сторон примерно одинаковой продолжительности.
                          Отношения между полицейскими и гонщиками описываются как «погоня собаки за кроликом»
                           с более мощными полицейскими по сравнению с гонщиками. Каждая сторона имеет несколько
                            бонусов, включая вызов блокпоста и радиолокационные помехи. Действие 
                            игры разворачивается в вымышленном месте, называемом округ Сикрест
                             (англ. Seacrest County)</p>
                    </div></div>
            </div>
            <div class="one-element">
                <a href="item_game2_NFS_Hot_Pursuit">Need For Speed: Hot Pursuit</a>
                <div class="one-element-context">
                    <img src="images/NFS_hot_pursuit.png" width="200" height="150" alt="NFS">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 2010</li>
                        <li>Разработчик: EA</li>
                        <li>Издатель: EA</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 200 руб.</li>
                    </ul>
                   <div class="overflowx"><p >Need for Speed: Hot Pursuit представляет собой аркадную гоночную игру,
                     выполненную в трёхмерной графике. Игра приближена к корням серии Need
                      for Speed, возвращая экзотические автомобили и полицейские погони.
                      </p>
                      <p>В Hot Pursuit можно играть как за полицейского, так и за гонщика и включает
                         в себя полный режим карьеры для обеих сторон примерно одинаковой продолжительности.
                          Отношения между полицейскими и гонщиками описываются как «погоня собаки за кроликом»
                           с более мощными полицейскими по сравнению с гонщиками. Каждая сторона имеет несколько
                            бонусов, включая вызов блокпоста и радиолокационные помехи. Действие 
                            игры разворачивается в вымышленном месте, называемом округ Сикрест
                             (англ. Seacrest County)</p>
                    </div></div>
            </div>
        </div>
        <div class="btn-up btn-up_hide"></div>
    </main>
    <script src="js/pgUp.js"></script>
    <script src="js/catalogih.js"></script>
   {{> footer}}
</body>
</html>