<!DOCTYPE html>
<html>
<head>
    <title>Кипарис-Цивилизация</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
	<link rel="stylesheet" type="text/css" href="styles/discript.css">
   
</head>
<body class="main-of-all">
	 {{> menu}}
    <main>
		<div class="masterblock">
            <h1>Civilization 1</h1>
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>  
            <div class="one-element solid-one">
                
                <div class="one-element-context">
                    <img class="zooms" src="images/Civ1.jpg" width="200" height="200" alt="Civilization 1 photo 1">
                </div>
                <div class="one-element-context">
                    <img class="zooms" src="images/Civ1_2.jpg" width="200" height="200" alt="Civilization 1 photo 2">
                </div>
                <div class="one-element-context">
                    <img class="zooms" src="images/Civ1_3.jpg" width="200" height="200" alt="Civilization 1 photo 3">
                </div>
                <div class="one-element-context">
                    <img class="zooms" src="images/Civ1_4.jpg" width="200" height="200" alt="Civilization 1 photo 4">
                </div>
                <div class="one-element-context">
                    <img class="zooms" src="images/Civ1_5.jpg" width="200" height="200" alt="Civilization 1 photo 5">
                </div>
                    <div class="one-element-disc">
                    <ul>
                        <li>Год выпуска: 1991</li>
                        <li>Разработчик: MPS Labs</li>
                        <li>Издатель: MicroProse</li>
                        <li>Платформа: Windows</li>
                        <li>Цена: 100 руб.</li>
                        <li><a href="petition_Civilization1">Заявления этой игры</a></li>
                    </ul>
                  </div>
            </div>
			
           
           
	 <h2>Общая информация об игре Сида Мейера</h2>
	 <p>Sid Meier’s Civilization (с англ. — «Цивилизация Сида Мейера», сокр. Civilization) —
	 первая компьютерная игра из серии Civilization, разработанная Сидом Мейером и Брюсом 
	 Шелли в компании MicroProse и выпущенная в сентябре 1991 года. Игра относится к жанру
	 пошаговая стратегия и при этом сочетает 4X, глобальную стратегию, варгейм и открытый мир.
     В Civilization игрок принимает ключевые решения в управлении цивилизацией
     на протяжении всего исторического времени — от Древнего мира до современности.
     Игровой процесс включает в себя экономику, политику, военные действия, торговлю,
     исследование новых территорий и новых технологий, а конкурентами выступают другие
     цивилизации. Игра характеризуется наличием тайловой и генерируемой карты, городов
     с постройками, боевыми юнитами, дипломатией, деревом технологий. </p>
	 <h2>Сеттинг игры</h2>
	 <h3>Вхождение в игровой процесс</h3>
	 <p>Civilization охватывает период с 4000 года до н. э. до современности — игрок 
	 берёт на себя управление одной из цивилизаций на заре её существования — когда 
	 руппа колонистов оказывается способной основать свой первый город и начать 
	 развитие как цивилизация. В дальнейшем игрок принимает ключевые решения 
	 сквозь множество поколений её развития, когда изучаются новые технологии, 
	 исследуется и заселяется доступное пространство и идёт конкуренция с другими 
	 цивилизациями. Целью является не только построение государства, которое должно 
	 выдержать испытание временем, но и победа в космической гонке, в результате 
	 которой должен быть осуществлен полет колонистов на космическом корабле в 
	 систему Альфа Центавра</p>
	 <h3>Национальности в игре</h3>
	 <p>Одновременно в начале игры на равных условиях, но в разных точках 
	 процедурно-сгенерированной карты планеты стартуют несколько цивилизаций
	 (по выбору игрока, от 3 до 7). Всего представлено 14 известных цивилизаций
	 (греки, французы, монголы, русские и другие), из которых случайно выбираются
	 те, которые будут присутствовать в игре, и одну из них выбирает для себя игрок.
	 Каждую из цивилизаций ведёт её великий лидер — Александр Македонский, Наполеон,
	 Чингисхан, Сталин соответственно и другие. Во время дипломатических отношений
	 игрок общается с ними один на один в соответствующем контексте.</p>
	 </div>
	 <div class="btn-up btn-up_hide"></div>
	 </main>
     <script src="js/pgUp.js"></script>
     <script src="js/addauthor.js"></script>
     <script src="js/pictsize.js"></script>
     <script src="js/scrollBar.js"></script>
     
    {{> footer}}
    
</body>
</html>