<!DOCTYPE html>
<html>
<head>
    <title>Кипарис</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
</head>
<body class="main-of-all">
   {{> menu}}
   
    <main>
        <div class="masterblock" id="great">
            <h1>Мои объявления</h1>
			
        </div>
        <div class="btn-up btn-up_hide"></div>
    </main>
    <script src="js/pgUp.js"></script>
    <script src="js/catalogihLk.js"></script>
   {{> footer}}
</body>
</html>