<!DOCTYPE html>
<html>
<head>
    <title>Кипарис-Как связаться</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
    <link rel="stylesheet" type="text/css" href="styles/animaCardan.css">
</head>
<body class="main-of-all">
    {{> menu}}
    <main>
        <div class="masterblock new-item">
            
            <h1>Добавление продукта</h1>
            
            <input class="new_item" type="text" placeholder="Имя проекта*" name="name" id="name">
            <p class="errors" id="name_error">
            </p>
            
            <input class="new_item" type="text" placeholder="разработчик*" name="developer" id="developer">
            <p class="errors" id="developer_error"></p>
            
            <input class="new_item" type="text" placeholder="издатель*" name="publisher" id="publisher">
            <p class="errors" id="publisher_error"></p>
            
            <input class="new_item" type="text" placeholder="платформа*" name="platform" id="platform">
            <p class="errors" id="platform_error"></p>
            
            <input class="new_item" type="text" placeholder="цена в рублях*" name="price" id="price">
            <p class="errors" id="price_error"></p>

            <input class="new_item" type="text" placeholder="дата выхода*" name="date" id="date">
            <p class="errors" id="price_error"></p>

            <textarea class="discer" type="text" placeholder="описание*" name="discription" id="discription"></textarea>
            <p class="errors" id="discription_error"></p>
            
            <form action="/game_upload" method="POST" enctype="multipart/form-data" >
            <input class="vers" class="saib" type="file"  value="добавить фотографию" name="photo" id="photo" >
          <input type="submit">
          </form>
         

 <p class="logx">Выберите жанр</p>
            <select class="selk"  id="nrol">
                <option value="Стратегии" >Выберите жанр</option>
</select>
   
<p class="logx">Выберите поджанр</p>
            <div class="mimrol">

           <div class="mrol" id="sgh">
           </div></div>
            
<input class="vers" class="saib" type="button"  value="добавить товар" id="save_all" >
    
            <script src="js/validate.js"></script>
        </div>
        <div class="btn-up btn-up_hide"></div>
    </main>
    <script src="js/pgUp.js"></script>
    <script src="js/sqlAdd.js"></script>
	{{> footer}}
</body>
</html>