<!DOCTYPE html>
<html>
<head>
    <title>Петиции-Need For Speed:Hot Pursuit</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
    
</head>
<body class="main-of-all">
    {{> menu}}
    <main>
		
       
            <div class="dom_pet">
                <a href="item_game2_NFS_Hot_Pursuit"><h1>Петиции: Need For Speed:Hot Pursuit</h1></a>
            <div class="add_pet">
                <p>Добавление</p>
              
            <div class="one-element-pet">
               <div class="headex"><p>Высокое разрешение</p></div>
                    <div class="one-element-disc-pet">
                        
                    <div class="overflowx-pet"><p>В игре остро не хватает разрешения FullHd, пожалуйста,  добавьте!
                       
                    </p></div>  
                   </div>
            </div>
           
            
        </div>
            <div class="edit_pet">
                <p>Изменение</p>
               
                <div class="one-element-pet">
                    <div class="headex"><p>Подземные заезды</p></div>
                         <div class="one-element-disc-pet">
                               
                             <ul>
                             <li>Тоннели</li>
                             <li>Карты</li>
                             

                             
                         </ul>
                         <div class="overflowx-pet"><p>Все знают проблему связанную с тем, что в игре надо исправить работу тоннельных карт.
                          
                         </p></div>  
                        </div>
                 </div>
                
            </div>
                <div class="del_pet">
                    <p>Удаление</p>
                  
                    <div class="one-element-pet">
                        <div class="headex"><p>Танки</p></div>
                             <div class="one-element-disc-pet">
                                   
                                 <ul>
                                 <li>Танки</li>
                                 <li>Погоня</li>
                                 <li>Высшая сложность</li>
                                 <li>Баланс</li>
                                 
                                 
                             </ul>
                             <div class="overflowx-pet"><p>На высшем уровне сложности в погоне участвуют даже танки.
                                Это совершенно неприемлимо, особенно если учитывать, что в реальности гусеничные
                                 движители в принципе не могут быстро двигаться. Удалите танки.
                             
                             </p></div>  
                            </div>
                     </div>
                     <div class="one-element-pet">
                        <div class="headex"><p>Танки</p></div>
                             <div class="one-element-disc-pet">
                                   
                                 <ul>
                                 <li>Танки</li>
                                 <li>Погоня</li>
                                 <li>Высшая сложность</li>
                                 <li>Баланс</li>
                                 
                                 
                             </ul>
                             <div class="overflowx-pet"><p>На высшем уровне сложности в погоне участвуют даже танки.
                                Это совершенно неприемлимо, особенно если учитывать, что в реальности гусеничные
                                 движители в принципе не могут быстро двигаться. Удалите танки.
                             
                             </p></div>  
                            </div>
                     </div>
                
                
                </div>
                
                </div>
	 
                <div class="btn-up btn-up_hide"></div>
            </main>
            <script src="js/pgUp.js"></script>
{{> footer}}
</body>
</html>