<!DOCTYPE html>
<html>
<head>
    <title>Петиции-Цивилизация</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
    
</head>
<body class="main-of-all">
    {{> menu}}
    <main>
		
       
            <div class="dom_pet">
                <a href="item_game1_Civilization"><h1>Петиции: Civilization 1</h1></a>
            <div class="add_pet">
                <p>Добавление</p>
               
            <div class="one-element-pet">
               <div class="headex"><p>Мультиплеер</p></div>
                    <div class="one-element-disc-pet">
                        <ul>
                        <li>Игра по интернету</li>
                        <li>Игра по LAN</li>
                    </ul>
                    <div class="overflowx-pet"><p>Игра старая, и современные протоколы коннекта не работают, очень хотелось бы увидеть их здесь 
                       
                    </p></div>  
                   </div>
            </div>
            <div class="one-element-pet">
                <div class="headex"><p>Мультиплеер</p></div>
                     <div class="one-element-disc-pet">
                         <ul>
                         <li>Игра по интернету</li>
                         <li>Игра по LAN</li>
                     </ul>
                     <div class="overflowx-pet"><p>Игра старая, и современные протоколы коннекта не работают, очень хотелось бы увидеть их здесь 
                      
                     </p></div>  
                    </div>
             </div>
             <div class="one-element-pet">
                <div class="headex"><p>Мультиплеер</p></div>
                     <div class="one-element-disc-pet">
                         <ul>
                         <li>Игра по интернету</li>
                         <li>Игра по LAN</li>
                     </ul>
                     <div class="overflowx-pet"><p>Игра старая, и современные протоколы коннекта не работают, очень хотелось бы увидеть их здесь 
                      
                     </p></div>  
                    </div>
             </div>
             <div class="one-element-pet">
                <div class="headex"><p>Мультиплеер</p></div>
                     <div class="one-element-disc-pet">
                         <ul>
                         <li>Игра по интернету</li>
                         <li>Игра по LAN</li>
                     </ul>
                     <div class="overflowx-pet"><p>Игра старая, и современные протоколы коннекта не работают, очень хотелось бы увидеть их здесь 
                       
                     </p></div>  
                    </div>
             </div>
            
        </div>
            <div class="edit_pet">
                <p>Изменение</p>
                
                <div class="one-element-pet">
                    <div class="headex"><p>Пустынные текстуры</p></div>
                         <div class="one-element-disc-pet">
                               
                             <ul>
                             <li>Текстуры</li>
                             <li>Пустыня</li>
                             <li>Красота</li>

                             
                         </ul>
                         <div class="overflowx-pet"><p>Я думаю, что всех игроков нервируют пустынные текстуры в игре.
                         Они давно нуждаются в редизайне, а то, с каждым годом игры они режут глаз всё сильнее и сильнее. 
                         Это даже поважнее проблемы с Ганди. Вам стоит решить эту проблему как можно скорее!!!!
                          
                         </p></div>  
                        </div>
                 </div>
                 <div class="one-element-pet">
                    <div class="headex"><p>Мультиплеер</p></div>
                         <div class="one-element-disc-pet">
                             <ul>
                             <li>Игра по интернету</li>
                             <li>Игра по LAN</li>
                         </ul>
                         <div class="overflowx-pet"><p>Игра старая, и современные протоколы коннекта не работают, очень хотелось бы увидеть их здесь 
                           
                         </p></div>  
                        </div>
                 </div>
                 <div class="one-element-pet">
                    <div class="headex"><p>Мультиплеер</p></div>
                         <div class="one-element-disc-pet">
                             <ul>
                             <li>Игра по интернету</li>
                             <li>Игра по LAN</li>
                         </ul>
                         <div class="overflowx-pet"><p>Игра старая, и современные протоколы коннекта не работают, очень хотелось бы увидеть их здесь 
                            
                         </p></div>  
                        </div>
                 </div>
                 <div class="one-element-pet">
                    <div class="headex"><p>Мультиплеер</p></div>
                         <div class="one-element-disc-pet">
                             <ul>
                             <li>Игра по интернету</li>
                             <li>Игра по LAN</li>
                         </ul>
                         <div class="overflowx-pet"><p>Игра старая, и современные протоколы коннекта не работают, очень хотелось бы увидеть их здесь 
                       
                         </p></div>  
                        </div>
                 </div>
            </div>
           
                <div class="del_pet">
                    <p>Удаление</p>
                          
                    <div class="one-element-pet">
                        <div class="headex"><p>Ганди</p></div>
                             <div class="one-element-disc-pet">
                                   
                                 <ul>
                                 <li>Ганди</li>
                                 <li>Ядерная война</li>
                                 <li>Критическая проблема</li>
                                 <li>Баланс</li>
                                 
                                 
                             </ul>
                             <div class="overflowx-pet"><p>Удалите постоянный минус к аггресивности Ганди, он под конец игры всегда забрасывает ядерными бомбами.
                                Хватит игнорировать эту проблему!
                             
                             </p></div>  
                            </div>
                     </div>
                
                
                </div>
                
                </div>
	 
                <div class="btn-up btn-up_hide"></div>
            </main>
            <script src="js/pgUp.js"></script>
            
	{{> footer}}
</body>
</html>