<!DOCTYPE html>
<html>
<head>
    <title>Кипарис-Как связаться</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
    <link rel="stylesheet" type="text/css" href="styles/animaCardan.css">
</head>
<body class="main-of-all">
    {{> menu}}
    <main>
        <div class="masterblock new-item">
            <h1>Регистрация</h1>
            <input class="new_item" type="text" placeholder="Логин*" id="reg_log">
            <p class="errors" id="name_error">
            </p>
            <input class="new_item" type="text" placeholder="Пароль*" id="reg_pass">
            <p class="errors" id="developer_error"></p>
            <input class="vers" type="button"  value="Зарегистрироваться" id="reg_save">
            <script src="js/validate.js"></script>
        </div>
        <div class="btn-up btn-up_hide"></div>
    </main>
    <script src="js/pgUp.js"></script>
    <script src="js/reg_valid.js"></script>
	{{> footer}}
</body>
</html>