<!DOCTYPE html>
<hbs>
<head>
    <title>Секретная анимация</title>
    <link rel="stylesheet" type="text/css" href="styles/margle.css">
    <link rel="stylesheet" type="text/css" href="styles/animaCardan.css">
</head>
<body class="main-of-all">
   {{> menu}}
    <main>
		<div class="masterblock">
        <h1>Кипарис</h1>                                  
            <div class="margings">
             <div class="cardan"><img  src="images/cardan.png" alt="шестеренка" width="250px" height="250px">
                <div class="cardan"><img  src="images/cardan.png" alt="шестеренка" width="250px" height="250px">
                    <div class="cardan"><img  src="images/cardan.png" alt="шестеренка" width="250px" height="250px">
                        <div class="cardan"><img  src="images/cardan.png" alt="шестеренка" width="250px" height="250px">
                            <div class="cardan"><img  src="images/cardan.png" alt="шестеренка" width="250px" height="250px">
                                <div class="cardan"><img  src="images/cardan.png" alt="шестеренка" width="250px" height="250px">
                                    <div class="cardan"><img  src="images/cardan.png" alt="шестеренка" width="250px" height="250px">
                                       
                        
            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="btn-up btn-up_hide"></div>
</main>
<script src="js/pgUp.js"></script>
	{{> footer}}
</body>
</html>