.head-descritpion{
display :block;
	text-decoration:none;
	height:400px;
	list-style-type:none;
	padding-bottom:30px;
	border: 5px double blue;
	margin-top:20px;
	margin-bottom:10px;
	width:800px;
	
}
.head-descritpion img{
float:left;
	display :block;
	text-decoration:none;
	height:400px;
}
.picture{
float:left;
	display :block;
	text-decoration:none;
	height:200px;
}
.right-desc{
float:left;
display:inline;
width:100%;

}
.full-descritpion{
display:inline;
float:left;
}
.borders{
	display:block;
}